.detalle-obra {
  padding: 20px;
  margin: 0 auto;
  color: white;
  width: 100%;
  margin-top: 30px;
}

.detalle-obra-header {
  background: #333;
  border-radius: 8px;
  width: 90%;
  justify-self: center;
}

@media (min-width: 992px) {
  .detalle-obra {
    width: 93%;
  }
}

.detalle-obra-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .detalle-obra-header {
    flex-direction: row;
    text-align: left;
  }
}

.obra-imagen {
  width: 400px;
  height: 650px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
}

.detalle-obra-info {
  flex: 1;
  text-align: justify;
  margin-right: 20px;
}

.detalle-obra-info h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.detalle-obra-info p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.sinopsis {
  font-size: 1.2rem;
  margin: 20px;
  color: #c0c0c0;
  max-height: 200px; /* Limitar la altura de la sinopsis */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Limita a 6 líneas, puedes ajustar */
  -webkit-box-orient: vertical;
}

.sinopsis.expandido {
  max-height: none;
  -webkit-line-clamp: none;
}

.ver-mas {
  color: #1e90ff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.calificacion {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  justify-content: left; /* Centrado del ranking con las estrellas */
}
.calificacion p{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: left;
  margin-top: 10px;
}
.boton-lista {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-enviar {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .detalle-obra-header {
    flex-direction: column;
    text-align: center;
  }
  
  .calificacion {
    justify-content: center;
  }

  .obra-imagen {
    margin-bottom: 20px;
  }

  .detalle-obra-info {
    text-align: center;
  }

  .boton-lista {
    justify-content: center;
    margin-top: 20px;
  }

  .sinopsis {
    max-height: none;
    -webkit-line-clamp: none;
  }
}

@media (max-width: 480px) {
  .detalle-obra-info h1 {
    font-size: 1.5rem;
  }

  .detalle-obra-info p {
    font-size: 1rem;
  }

  .sinopsis {
    font-size: 1rem;
    margin: 10px;
  }

  .obra-imagen {
    width: 100%;
    height: auto;
  }

  .calificacion {
    font-size: 1rem;
  }
}
