.calificacion-estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.estrella {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
  color: #ddd; /* Color de estrellas vacías */
  transition: color 0.2s ease-in-out;
}

.estrella.llena {
  color: #ffc107; /* Color de estrellas llenas */
}

.estrella.vacia {
  color: #ddd;
}
