body {
  background-color: #152738;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif; 
}

.litflix-title {
  font-family: "Londrina Sketch", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-style: italic;
  
}

.litflix-title:hover {
  color: #0c8fc3 !important;
}

.litflix-title .dropdown-item:hover {
  background-color: #87CEEB !important;
  color: #ffffff !important;
}

.titulo-tipo {
  font-family: "Merriweather", serif;
  color:  #0a1929;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 250px;
}

@media (max-width: 1024px) {
  .titulo-tipo {
    font-size: 2.2rem;
    margin-left: 150px;
  }
}

@media (max-width: 768px) {
  .titulo-tipo {
    font-size: 1.8rem;
    margin-left: 100px;
  }
}

@media (max-width: 480px) {
  .titulo-tipo {
    font-size: 1.5rem;
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .titulo-tipo {
    font-size: 1.3rem;
  }
}

.titulo-inicio {
  font-family: "Merriweather", serif;
  color: #4bc8f0;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}


.categoria {
  font-family: "Merriweather", serif;
  color: #4bc8f0;
  font-size: 1,5rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sin-resultados {
    font-family: "Merriweather", serif;
    color: #4bc8f0;
    font-size: 24px; 
  
}

.sin-resultados a:hover {
  text-decoration: underline; 
}
