body {
  background-color: #0a1929;  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.litflix-title {
  font-family: "Londrina Sketch", sans-serif;
  font-size: 4rem;
  color: #fff;
  font-style: italic;
}

.titulo-tipo {
  font-family: "Merriweather", serif;
  color: #4bc8f0;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.categoria {
  font-family: "Merriweather", serif;
  color: #4bc8f0;
  font-size: 1,5rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sin-resultados {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #ffffff; 
  font-weight: bold;
  position: absolute;
  justify-content: center;
}

.sin-resultados a:hover {
  text-decoration: underline; 
}