/* Menú de navegación */
.custom-navbar {
  background-color: #254bd4 !important;  /* Color del menú */
}

.filtro {
  justify-content:left;
}

.custom-search-button {
  background-color: #071bcf !important;  /* Azul claro */
  color: rgb(242, 242, 242);  /* Texto en blanco */
  border: none;  /* Sin borde */
}


.navbar .nav-link {
  text-align: left;
  color: #ffffff !important;
  font-size: 1.5rem;
}

.navbar .nav-link:hover {
  color: #0c8fc3 !important;
}

.navbar .dropdown-item:hover {
  background-color: #87CEEB !important;  /* Fondo dropdown hover */
  color: #6b8cbc !important;  /* Texto dropdown hover */
}
