/* navbar.css */
.custom-navbar {
    background-color: #005f73 !important; /* Color azul personalizado */
    border-bottom: 2px solid #fff; /* Borde blanco opcional */
  }
  
  /* Estilo personalizado para el botón de búsqueda */
  .custom-search-button {
    background-color: #87CEEB !important; /* Azul claro */
    color: white; /* Texto en blanco */
    border: none; /* Sin borde */
  }
  
  .custom-search-button:hover {
    background-color: #6bb1d1 !important; /* Azul un poco más oscuro al pasar el ratón */
  }
  