.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  justify-items: center; /* Asegura que cada tarjeta esté centrada en su celda */
  padding: 20px;
  max-width: 95%;
  margin: 0 auto;
}

.tarjeta-link {
  text-decoration: none;
  color: inherit;
}

.tarjeta-obra {
  background-color: #1a3b5d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 350px;
  text-align: center;
  padding-bottom: 10px;
  border: 2px solid #3690ae;
}

.tarjeta-obra:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.tarjeta-obra-imagen {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3; /* Define una proporción de 2:3 para las imágenes */
  object-fit: cover;
}

.tarjeta-obra h3 {
  color: #46bde2;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px;
  padding: 0 10px;
  min-height: 40px;
  max-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}

.tarjeta-obra-descripcion {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.2;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.fecha-publicacion {
  font-size: 0.8rem;
  color: #cecbcb;
  margin-bottom: 20px;
  text-align: center;
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .tarjeta-obra h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .tarjeta-obra h3 {
    font-size: 0.8rem;
  }
}
